{% extends "base.html" %} {% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
{% endblock %}
<title>{% block title %}台北一日遊-首頁 {% endblock %}</title>

{% block login %}
<div class="user-login">
  <div class="user-login__box">
    <div class="user-login__box__header">
      <h4 class="heading__forth" id="login_title">登入會員帳號</h4>
      <img
        src="../static/image/icon_close.png"
        alt="關閉圖示"
        class="icon icon__close"
      />
    </div>
    <!-- 切換登入與註冊，js只要改這邊即可 -->
    <form class="user-login__box__form-login" data-login="true">
      <input
        type="mail"
        placeholder="請輸入電子信箱"
        class="user-login__box__form-login__input"
      />
      <input
        type="password"
        placeholder="請輸入密碼"
        class="user-login__box__form-login__input"
      />
      <button class="btn btn__login">登入帳戶</button>
      <button class="btn__switch">還沒有帳戶？點此註冊</button>
    </form>
  </div>
</div>
{% endblock %} {% block main %}
<section class="section__hero">
  <div class="container section__hero__container">
    <div class="slogan">
      <h2 class="heading__secondary">輕鬆享受台北一日悠閒</h2>
      <p class="slogan__description">探索每個角落，體驗城市的深度旅遊行程</p>
    </div>
    <form action="" class="form__search-bar">
      <input
        type="text"
        class="form__search-bar__input"
        placeholder="輸入景點名稱查詢"
        id="search-bar"
      />
      <button class="btn btn__search">
        <img src="../static/image/icon_search.png" alt="it's a icon search" />
      </button>
    </form>
  </div>
</section>
<section class="section__attractions container">
  <div class="list-mrt-bar">
    <button class="btn btn__left">
      <img
        src="../static/image/icon_left.png"
        alt="it's a icon point to the left"
        class="icon icon__left"
      />
    </button>
    <ul class="list-mrt-bar__list">
      <!-- <li class="list-mrt-bar__list__item">
        <a href="" class="list-mrt-bar__list__item__link">劍潭</a>
      </li> -->
    </ul>
    <button class="btn btn__right">
      <img
        src="../static/image/icon_right.png"
        alt="it's a icon point to the right"
        class="icon icon_right"
      />
    </button>
  </div>
  <ul class="list-attractions">
    <!-- <li class="attractions__item">
      <div class="attractions__item__top-box">
        <img
          src=""
          alt="景點圖片-平安鐘"
          class="attractions__item__top-box__img"
        />
        <h3 class="heading__tertiary attractions__item__top-box__heading">
          平安鐘
        </h3>
      </div>
      <div class="attractions__item__bottom-box">
        <span>忠孝復興</span>
        <span>公共藝術</span>
      </div>
    </li> -->
  </ul>
</section>
{% endblock %} {% block script %}
<script src="{{url_for('static', filename='/js/script.js')}}"></script>
{% endblock %}
