/*css reset*/
@import "variables.scss";

* {
  list-style: none;
  &,
  &:after,
  &::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-size: 62.5%;
  font-family: Noto Sans TC, sans-serif;
  overflow: -moz-hidden-unscrollable;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: $line-height-sm;
  -ms-overflow-style: none;
  overflow: auto;
  height: 100vh;

  &::-webkit-scrollbar {
    display: none;
  }

  position: relative;
}

a {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading {
  font-weight: 700;
  &__primary {
    font-size: 3rem;
    line-height: $line-height-lg;

    a {
      color: $color-primay;
    }
  }

  &__secondary {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 4.1rem;
    // height: 4.1rem;
  }

  &__tertiary {
    font-size: 1.6rem;
    line-height: $line-height-sm;
    font-weight: 700;
  }

  &__forth {
    font-size: 2.4rem;
  }

  &__fifth {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}

.btn {
  background-color: $color-primay;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}

.header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.container {
    padding: 1rem;
  }

  &__nav {
    &__item {
      color: $color-dark-grey;
      padding: 1rem;
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }
  }
}

.footer {
  background-color: $color-dark-grey;
  text-align: center;
  .copyright {
    color: $color-pure-white;
    font-weight: 700;
    padding: 4rem 0;
  }
}
