/* COLORS */
$color-primay: #448899;
$color-primary-darker: #366d7a;
$color-white: #f8f8f8;
$color-pure-white: #fff;
$color-dark-grey: #666666;
$color-light-grey: #757575;
$color-border-grey: #e8e8e8;

$color-successful: #06d6a0;
$color-fail: #ef476f;

/* TYPEPOGRAPHY*/
$line-height-lg: 3.4rem;
$line-height-md: 2.4rem;
$line-height-sm: 1.33rem;
